##===================================================================================================##
##============================= User Constraints FILE (UCF) information =============================##
##===================================================================================================##
##                                                                                         
## Company:               CERN (PH-ESE-BE)                                                         
## Engineer:              Manoel Barros Marin (manoel.barros.marin@cern.ch) (m.barros.marin@ieee.org)
##                        (Original design by Paschalis Vichoudis (CERN))   
##                                                                                                 
## Project Name:          GBT-FPGA                                                                
## UCF File Name:         FC7 - GBT Bank example design floorplanning                                        
##                                                                                                   
## Target Device:         FC7 (Xilinx Kintex 7)                                                         
## Tool version:          ISE 14.5                                                                
##                                                                                                   
## Version:               3.1                                                                      
##
## Description:            
##
## Versions history:      DATE         VERSION   AUTHOR              DESCRIPTION
##
##                        01/08/2014   3.1       M. Barros Marin     - First .ucf definitionnt   
## 
## Additional Comments:   
##                                                                                                   
##===================================================================================================##
##===================================================================================================##

##===================================================================================================##
##======================================  FLOORPLANNING  ============================================##
##===================================================================================================##

##==========##
## P BLOCKS ##
##==========##

INST "gbtExmplDsgn"                                               AREA_GROUP = "x1y7_area";
INST "icon"                                                       AREA_GROUP = "x1y7_area";
INST "vio"                                                        AREA_GROUP = "x1y7_area";
INST "txIla"                                                      AREA_GROUP = "x1y7_area";
INST "rxIla"                                                      AREA_GROUP = "x1y7_area";
AREA_GROUP "x1y7_area"                                            RANGE = CLOCKREGION_X1Y7:CLOCKREGION_X1Y7;

##============##
## PRIMITIVES ##
##============##

## TX_FRAMECLK PLL:           
##-----------------           

INST "gbtExmplDsgn/txPll/plle2_adv_inst"                          LOC = PLLE2_ADV_X0Y7;

## RX_FRAMECLK PHASE ALIGNER:
##---------------------------

INST "gbtExmplDsgn/rxFrmClkPhAlgnr/pllCtrl/pll/mmcm_adv_inst"     LOC = MMCME2_ADV_X0Y7;

##===================================================================================================##
##===================================================================================================##