##===================================================================================================##
##============================= User Constraints FILE (UCF) information =============================##
##===================================================================================================##
##                                                                                         
## Company:               CERN (PH-ESE-BE)                                                         
## Engineer:              Manoel Barros Marin (manoel.barros.marin@cern.ch) (m.barros.marin@ieee.org)
##                                                                                                 
## Project Name:          GBT-FPGA                                                                
## UCF File Name:         ML605 - GBT Bank example design timing closure                                        
##                                                                                                   
## Target Device:         ML605 (Xilinx Virtex 6)                                                         
## Tool version:          ISE 14.5                                                                
##                                                                                                   
## Version:               3.2                                                                      
##
## Description:            
##
## Versions history:      DATE         VERSION   AUTHOR              DESCRIPTION
##
##                        04/10/2013   3.0       M. Barros Marin     First .ucf definition
##
##                        28/07/2014   3.2       M. Barros Marin     Specific constrains for LATOPT commented out by default
##
## Additional Comments:   
##                                                                                                   
##===================================================================================================##
##===================================================================================================##

##===================================================================================================##
##====================================  TIMING CLOSURE  =============================================##
##===================================================================================================##

##==================================================================##
## Common constraints [Standard (STD) & Latency-Optimized (LATOPT)] ##
##==================================================================##

## MGT RESET:
##----------- 
NET "gbtExmplDsgn/mgtTxReset_from_gbtBankRst"                               MAXDELAY = 3 ns;
NET "gbtExmplDsgn/mgtRxReset_from_gbtBankRst"                               MAXDELAY = 3 ns;

## MGT DERIVED CLOCKS:                                   
##--------------------
## Comment: The net "TXCLKOUT_OUT" has to be related with the MGT reference clock.

NET "gbtExmplDsgn/gbtBank_1/mgt_param_package_src_gen.mgt/mgtLatOpt_gen.mgtLatOpt/rx_wordclk_nobuff_sig" TNM_NET = gbtExmplDsgn/gbtBank_1/mgt_param_package_src_gen.mgt/mgtLatOpt_gen.mgtLatOpt/rx_wordclk_nobuff_sig;
TIMESPEC TS_gbtExmplDsgn_gbtBank_1_mgt_param_package_src_gen_mgt_mgtLatOpt_gen_mgtLatOpt_rx_wordclk_nobuff_sig = PERIOD "gbtExmplDsgn/gbtBank_1/mgt_param_package_src_gen.mgt/mgtLatOpt_gen.mgtLatOpt/rx_wordclk_nobuff_sig" 4.1667 ns HIGH 50%;

NET "gbtExmplDsgn/gbtBank_1/mgt_param_package_src_gen.mgt/mgtLatOpt_gen.mgtLatOpt/tx_wordclk_nobuff_sig" TNM_NET = gbtExmplDsgn/gbtBank_1/mgt_param_package_src_gen.mgt/mgtLatOpt_gen.mgtLatOpt/tx_wordclk_nobuff_sig;
TIMESPEC TS_gbtExmplDsgn_gbtBank_1_mgt_param_package_src_gen_mgt_mgtLatOpt_gen_mgtLatOpt_tx_wordclk_nobuff_sig = PERIOD "gbtExmplDsgn/gbtBank_1/mgt_param_package_src_gen.mgt/mgtLatOpt_gen.mgtLatOpt/tx_wordclk_nobuff_sig" TS_sma_refclk_p HIGH 50%;

## RX FRAME CLOCK:                                   
##----------------
#NET "gbtExmplDsgn/rxFrmClkPhAlgnr/RX_FRAMECLK_O" TNM_NET = gbtExmplDsgn/rxFrmClkPhAlgnr/RX_FRAMECLK_O;
#TIMESPEC TS_gbtExmplDsgn_rxFrmClkPhAlgnr_clkout = PERIOD "gbtExmplDsgn/rxFrmClkPhAlgnr/RX_FRAMECLK_O" TS_gbtExmplDsgn_gbtBank_1_mgt_param_package_src_gen_mgt_mgtLatOpt_gen_mgtLatOpt_rx_wordclk_nobuff_sig / 6 HIGH 50%;

##=================================================##
## Latency-Optimized (LATOPT) specific constraints ##
##=================================================##

##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!##
##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!##
##                                                         c                  ##
## Comment: Note!! Uncomment out the following constraints when implementing ## 
##                 the Latency-Optimized (LATOPT) version.                   ##
##                                                                           ## 
##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!##
##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!##

## GBT TX:
##--------

INST "*/txGearbox/txGearboxLatOpt_gen.txGearboxLatOpt/gearboxSyncReset"     TNM = GBT_TX_GEARBOXSYNCRESET;
TIMESPEC TS_GBTTX_GEARBOXSYNCRESET =                                        FROM "GBT_TX_GEARBOXSYNCRESET" TO "FFS" 3 ns DATAPATHONLY;

## Comment: The period of TX_FRAMECLK is 25ns but "TS_GBTTX_SCRAMBLER_TO_GEARBOX" is set to 20ns, providing 5ns for setup margin.
INST "gbtExmplDsgn/gbtBank_1/*/scrambler"                 TNM = "GBT_TX_SCRAMBLER";
INST "gbtExmplDsgn/gbtBank_1/*/txGearbox/*"               TNM = "GBT_TX_GEARBOX";
TIMESPEC TS_GBTTX_SCRAMBLER_TO_GEARBOX =                  FROM  "GBT_TX_SCRAMBLER" TO "GBT_TX_GEARBOX" 20 ns DATAPATHONLY;

## GBT RX:
##--------

## Comment: The period of RX_FRAMECLK is 25ns but "TS_GBTRX_GEARBOX_TO_DESCRAMBLER" is set to 20ns, providing 5ns for setup margin.
INST "gbtExmplDsgn/gbtBank_1/*/rxGearbox/*"                  TNM = "GBT_RX_GEARBOX";
INST "gbtExmplDsgn/gbtBank_1/*/descrambler/*"                TNM = "GBT_RX_DESCRAMBLER";
TIMESPEC TS_GBTRX_GEARBOX_TO_DESCRAMBLER =                   FROM  "GBT_RX_GEARBOX" TO "GBT_RX_DESCRAMBLER" 20 ns DATAPATHONLY;

##===================================================================================================##
##===================================================================================================##
