##===================================================================================================##
##============================= User Constraints FILE (UCF) information =============================##
##===================================================================================================##
##                                                                                         
## Company:               CERN (PH-ESE-BE)                                                         
## Engineer:              Manoel Barros Marin (manoel.barros.marin@cern.ch) (m.barros.marin@ieee.org)
##                                                                                                 
## Project Name:          GBT-FPGA                                                                
## UCF File Name:         ML605 - GBT Link reference design I/O                                        
##                                                                                                   
## Target Device:         ML605 (Xilinx Virtex 6)                                                         
## Tool version:          ISE 14.5                                                                
##                                                                                                   
## Version:               1.0                                                                      
##
## Description:            
##
## Versions history:      DATE         VERSION   AUTHOR              DESCRIPTION
##
##                        04/10/2013   1.0       M. Barros Marin     - First .ucf definition
##
## Additional Comments:   
##                                                                                                   
##===================================================================================================##
##===================================================================================================##

##===================================================================================================##
##=========================================  DEVICE  ================================================##
##===================================================================================================##

CONFIG                                          PART = xc6vlx240tff1156-1;

##===================================================================================================##
##========================================  I/O PINS  ===============================================##
##===================================================================================================##

##=======##  
## Reset ##            
##=======##          

NET "CPU_RESET"                                 LOC = H10; # IO_L6P_SM3P_35  

##==========##
## MGT(GTX) ##
##==========##

NET "SFP_TX_P"                                  LOC = C3; # MGTTXP1_116
NET "SFP_TX_N"                                  LOC = C4; # MGTTXN1_116
NET "SFP_RX_P"                                  LOC = E3; # MGTRXP1_116
NET "SFP_RX_N"                                  LOC = E4; # MGTRXN1_116             

##===============##      
## On-board LEDs ##  
##===============##

NET "GPIO_LED_0"                                LOC = AC22; # IO_L19P_24                
NET "GPIO_LED_1"                                LOC = AC24; # IO_L18N_24
NET "GPIO_LED_2"                                LOC = AE22; # IO_L17N_VRP_24                
NET "GPIO_LED_3"                                LOC = AE23; # IO_L17P_VRP_24
NET "GPIO_LED_4"                                LOC = AB23; # IO_L16N_CSO_B_24                
NET "GPIO_LED_5"                                LOC = AG23; # IO_L15N_RS1_24               
NET "GPIO_LED_6"                                LOC = AE24; # IO_L11N_SRCC_24
NET "GPIO_LED_7"                                LOC = AD24; # IO_L11P_SRCC_24                        

##====================##
## Signals forwarding ##
##====================##

## SMA output:
##------------

NET "USER_SMA_GPIO_P"                           LOC = V34; # IO_L10P_MRCC_14               
                                 
## Pattern match flags:                         
##---------------------

NET "FMC_HPC_LA00_CC_P"                         LOC = AF20; # IO_L11P_SRCC_22                
NET "FMC_HPC_LA01_CC_P"                         LOC = AK19; # IO_L10P_MRCC_22                
                                 
## Clock forwarding:   
##------------------ 

NET "FMC_HPC_LA02_P"                            LOC = AC20; # IO_L6P_22                 
NET "FMC_HPC_LA03_P"                            LOC = AC19; # IO_L14P_22                
NET "FMC_HPC_LA04_P"                            LOC = AF19; # IO_L8P_SRCC_22
NET "FMC_HPC_LA05_P"                            LOC = AG22; # IO_L2P_22          

##===================================================================================================##
##===================================================================================================##