#######################################
#######################################
## USER ON-BOARD SFP MGTs
#######################################
#######################################
NET "sfp_tx_p[1]"			   	   	LOC = AP1			;	# MGTTXP0_112
NET "sfp_tx_n[1]"			   	   	LOC = AP2			;	# MGTTXN0_112
NET "sfp_rx_p[1]"	   					LOC = AP5			;	# MGTRXP0_112
NET "sfp_rx_n[1]"							LOC = AP6			;	# MGTRXN0_112
#NET "sfp_tx_p[2]"			   	   LOC = AN3			;	# MGTTXP1_112
#NET "sfp_tx_n[2]"			   	   LOC = AN4			;	# MGTTXN1_112
#NET "sfp_rx_p[2]"			   	   LOC = AM5			;	# MGTRXP1_112
#NET "sfp_rx_n[2]"			   	   LOC = AM6			;	# MGTRXN1_112
#NET "sfp_tx_p[3]"			   	   LOC = AM1			;	# MGTTXP2_112
#NET "sfp_tx_n[3]"			   	   LOC = AM2			;	# MGTTXN2_112
#NET "sfp_rx_p[3]"			   	   LOC = AL3			;	# MGTRXP2_112
#NET "sfp_rx_n[3]"			   	   LOC = AL4			;	# MGTRXN2_112
#NET "sfp_tx_p[4]"						LOC = AK1			;	# MGTTXP3_112
#NET "sfp_tx_n[4]"						LOC = AK2			;	# MGTTXN3_112
#NET "sfp_rx_p[4]"			   	   LOC = AJ3			;	# MGTRXP3_112
#NET "sfp_rx_n[4]"			   	   LOC = AJ4			;	# MGTRXN3_112
